.song_header {
  width: 100%;
  height: 380px;
  
  /* border: 1px solid red; */
}

.song_main {
  width: 100%;
  height: auto;

  border: 1px solid blue;
  
  display: grid;
  grid-template-rows: 90px auto;
  grid-template-columns: auto 55% 30%;
  grid-template-areas: 
    "top top side"
    "left mid side";
}


.song__actions {
  grid-area: top;
  
  border: 1px solid green;
}

.song__profile_card {
  grid-area: left;
  padding: 16px;
  
}
.song__profile_card > a {
  border-radius: 100%;
}
.song__profile_card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
}

.song__description {
  padding: 16px;
  
  text-align: left;
}

.song__body {
  grid-area: mid; 
  
  border-right: 1px solid #535353;
}

.song_sidebar {
  grid-area: side;
  height: 100%;
}
