.splash_container {
  width: 100%;
}

.splash_header {
  width: 100%;
  height: 380px;
  
  overflow: hidden;
  
  position: relative;
  display: flex;
  align-items: center;
}

.splash__greeting {
  width: 100%;
  height: 200px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.greeting__left {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: left;
}
.greeting__right {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 5px;
  
}

.splash_bg {
  transform: rotate(90deg);
  height: 1300px;
  position: absolute;
  top: -400px; left: 326px;
  opacity: .95;
  z-index: -2;
}

.splash_buttons {
  width: 100%;
  height: 100px;
  
  background-color: #2420204b;
  /* position: absolute;
  top: 300px;
  left: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.splash_buttons #login_button,
.splash_buttons #signup_button {
  width: 300px;
  margin: 32px 0;
  padding: 24px;
  font-size: 16px;
  font-style: normal;
}
